.small-textfield {
    width: $s-txt-width !important;
    height: $s-txt-height !important;
}

.medium1-textfield {
    width: $m1-txt-width;
    height: $s-txt-height;
}

.medium2-textfield {
    width: $m2-txt-width;
    height: $s-txt-height;
}

.large-textfield {
    width: $l-txt-width !important;
    height: $s-txt-height !important;
}

.row-2 {
    height: $l-txt-height !important;
}