.main--title-blue {
    color: $color_primary;
    font-weight: $weight-bold;
    font-size: $font-big;
    line-height: $line-height-main-head;
}

.sub--title-grey {
    color: $color_secondary;
    font-weight: $weight-medium;
    font-size: $font-small;
    line-height: $line-height-sub-head;
}
